<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
</head>
<body>
    <h1>Account Deleted from Rotten Mangoes</h1>
    <p>
      <%= @user.fullname %>, we are notifying you that your account on "Rotten Tomatoes" has been deleted
    </p>
</body>
</html>