<%= link_to "Back to all movies", movies_path %><br/>

<div class="container">
  <div class="row">
    <div class="column text-center">
      <%= render partial: "show_movie", object: @movie %>
    </div>
    <div class="column">
      <%= render partial: "show_movie_reviews", object: @movie %>
    </div>
  </div>
</div>