<div class="container">
  <h1>List of All Users</h1>
  <%= paginate @users %>

  <% @users.each do |user| %>
    <div class="row">
      <h2><%= user.fullname %></h2>
      <p><%= user.email %></p>
      <%= link_to "View Details", admin_user_path(user) %>
    </div>
  <% end %>
</div>