<h1>List of All Users</h1>

<%= paginate @users %>
<% @users.each do |user| %>
  <div>
    <%= user.fullname %>
    <%= user.email %>
    <%= link_to "View Details", admin_user_path(user) %>
  </div>
  
<% end %>