<div class="container">
  <div class="row">
    <h1>List of All Users</h1>
    <%# paginate @users %>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
            <td><%= (user.is_admin) ? "Yes" : "No" %></td>
            <td>
              <span class="glyphicon glyphicon-trash">
                
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>